@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.navContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks{
  display: flex;
  width:35% ;
  justify-content: space-around;
  /* transition: 10s; */
}

.navLinks li{
  list-style: none;
  font-weight: bold;
 
}
.navLinks a{
  font-size: 15px;
}
.footer-link li{
  list-style: none;
  font-weight: bold;
}

.footer-link a{
  font-size: 15px;
}

.footer-container{
  padding-left:80px;
  padding-right: 80px                       ;
  padding-top: 30px;
  min-height:25vh;
  background-color:#377ccc;
}
.footer-content-container{

  color:#fff;
  width:70vw;
}

.footer-links li{
  list-style: none;
}
.footer-links a{
  font-size: 15px;
  color: white;
}
.footer-links a:hover{
  color:"#f26725"
}
.header{
  transition: 0.5s;
}


.CounterContainer{
  margin-top: 80px;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}
.try{
  justify-content: center;
  display: flex;  
}
.search{
  width: 600px;
}
.header-cntn{
  min-height: 75vh;
}
.icon{
  max-width: 35px;
}
.privacy-policy-container{
  width: 60vw;

}
.privacy-policy-container P{
 font-size: 15PX;
  
}
.safetips-container{
  width: 60vw;
}
.safetips-container P{
  font-size: 15PX;
   
 }
 

@media only screen and (max-width:768px) {
  .privacy-policy-container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .safetips-container{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
 .icon{
   max-width: 30px;
 }
  .CounterContainer{
    height:25vh;
      justify-content: center;
      display: flex;   
  }
  #next-cont {
      margin-top : 10px;
  }    
  .search{
    width: 80vw;
  }
  .header-cntn{
    min-height: 100vh !important;
  }
 
}
@media only screen and (max-width:414px) {
  .search{
    width: 80vw;
  }
  .CounterContainer{
    height:50vh;
         
  }
  .header-cntn{
    min-height: 100vh !important;
  }
  
 
}
 @media only screen and (max-width:320px) {
    .header{
      height: 20vh;
    }
   
    
}
@media only screen and (max-width: 1024px) and (min-width: 800px) {
  .CounterContainer{
      height:25vh;
      justify-content: center;
      display: flex;
      
  }
}




