@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.navContainer{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navLinks{
  display: flex;
  width:35% ;
  justify-content: space-around;
}

.navLinks li{
  list-style: none;
  font-weight: bold;
 
}
.navLinks a{
  font-size: 15px;
  color: white;
}
.footer-link li{
  list-style: none;
  font-weight: bold;
}

.footer-link a{
  font-size: 15px;
}

.footer-container{
  padding-left:80px;
  padding-right: 80px                       ;
  padding-top: 30px;
  height:25vh;
  background-color:#377ccc;
}
.footer-content-container{

  color:#fff;
  width:70vw;
}

.footer-links li{
  list-style: none;
  

}
.footer-links a{
  font-size: 15px;
  color: white;

}


.CounterContainer{
  margin-top: 80px;
  justify-content: center;
  display: flex;
  padding-bottom: 20px;
}
.try{
  justify-content: center;
  display: flex;  
}
@media only screen and (max-width:768px) {
  .CounterContainer{
      height:35vh;
      justify-content: center;
      display: flex;   
  }
  #next-cont {
      margin-top : 10px;
  }    
}
@media only screen and (max-width: 1024px) and (min-width: 800px) {
  .CounterContainer{
      height:60vh;
      justify-content: center;
      display: flex;
      
  }
}




